.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  height: 100px;
  background-color: blue;
  align-items: center;
  width: 100%;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: cadetblue;
}

.nav-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-name {
  color: white;
}

.logo-div {
  background-image: url('https://i.imgur.com/JZpQGTP.png');
  width: 14rem;
  height: 5vmin;
  background-size: contain;
  left: 0;
  background-repeat: no-repeat;
}

